version: '3.8'

services:
    app:
        build:
            context: .
            dockerfile: dockerfile
        container_name: kader_app
        volumes:
            - .:/var/www/html
        ports:
            - "9001:9000"
        depends_on:
            - mysql

    nginx:
        image: nginx:stable
        container_name: kader_nginx
        ports:
            - "8001:80"
        volumes:
            - .:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app

    mysql:
        image: mysql:8
        container_name: kader_mysql
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: laravel
            MYSQL_USER: laravel
            MYSQL_PASSWORD: laravel
        ports:
            - "3301:3306"
        volumes:
            - mysql_data:/var/lib/mysql
            - ./docker/mysql/init:/docker-entrypoint-initdb.d

volumes:
    mysql_data:
